<%- include('partials/header') %>

<div class="body-content">
  <div class="no-content-window"><div class="window">
    <div class="window-bottom-buttons">
      <button class="back-button button" onClick="history.back();">Back</button>
    </div>
    <script>cave.toolbar_setButtonType(1)</script>
  </div></div>
</div>